exportPattern("^[[:alpha:]]+")
importFrom(BSgenome,getBSgenome)
exportClasses(Step)
importFrom(digest,digest)
importFrom(visNetwork,visHierarchicalLayout)
importFrom(visNetwork,visNetwork)
importFrom(visNetwork,visEdges)
importFrom(visNetwork,visOptions)

importFrom(magrittr,`%>%`)
